<!DOCTYPE html>
<html>
    <head>
        <title>chatJS</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="app" class="container py-5">
            <!-- Section pour entrer le nom d'utilisateur -->
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" v-model="username" />
            </div>
      
            <!-- Section pour voir les utilisateurs connectés -->
            <div class="mb-3">
              <h3>Connected Users</h3>
              <ul class="list-group">
                <li class="list-group-item" v-for="user in connectedUsers" :key="user.id">{{ user.username }}</li>
              </ul>
            </div>
      
            <!-- Section pour le chat -->
            <div>
              <h3>Chat Room</h3>
              <ul class="list-group" id="chatMessages">
                <li class="list-group-item" v-for="message in messages" :key="message.id">
                  <strong>{{ message.username }}</strong>: {{ message.text }}
                </li>
              </ul>
      
              <div class="mt-3">
                <form @submit.prevent="sendMessage">
                  <input type="text" class="form-control" v-model="messageText" placeholder="Type your message here" />
                  <button type="submit" class="btn btn-primary mt-3">Send</button>
                </form>
              </div>
            </div>
          </div>
    </body>
    <script src="http://unpkg.com/vue@next"></script>
    <script src="Client.js"></script>
</html>